/*footer---CONTACT-----------------------*/
.footer-page{
    display: flex;
    background-color: #2F303A;
    padding: 60px 0px;

    &> .container {
        display: flex;
        width: 1200px;
        padding: 0px 15px;
        margin:0px auto;
        align-items: baseline;
        transition: color $cubic;
    }
}

.footer-page__logo-setting{
    display: flex;
}
.footer-page__address{
    margin-right: 70px;
    &:hover,&:focus{
        color: $blue-color;
        transition: color $cubic;
    }
}

.logo-white{
    color:#FFFFFF;
}
.footer-page__contact-list{
    display: block;
    margin-top:28px;

    &> .item+.item {
        margin-top:10px;
    }
}

.footer-page__street{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
}
.footer-page__contact{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    transition: color $cubic;

    &:hover,&:focus{
        color: $blue-color;
        transition: color $cubic;
    }
}

.footer-page__title{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:#FFFFFF;
    margin-bottom:20px;
}
.footer-page__social-list{
    display: flex;

    &> .item+.item{
        margin-left:10px;
    }
    &> .item {
        width: 44px;
        height: 44px;
    }
}

.footer-page__social-icon{
    width:20px; 
    height:20px;
    fill:currentColor;
}
.footer-page__social-button{
    display: flex;
    width: 100%;
    height: 100%;
    border:none;
    border-radius: 50%;
    color:#FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition: background-color $cubic;

    &:hover,&:focus{
        background-color: $blue-color;
        transition: background-color $cubic;
    }
}

.footer-page__subscribe{
    margin-left:auto;
    &> .js-speaker-form{
        display: flex;
    }
}

.footer-page__email{
    display: block;
}
.footer-page__email-text{
    padding:0px;
    padding-left:16px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    color: #FFF;
    margin-right:12px;
    transition: border-color $cubic;

    &:hover,&:focus{
        border-color:$blue-color;
        transition: border-color $cubic;
    }
}

.footer-page__button-confirm{
    padding:0px 28px;
    width: 200px;
    height: 50px;
    background:$blue-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border:0px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    justify-content: space-between;
    scale: 1;
    transition: scale $cubic;

    &:focus,&:hover{
        scale: 1.05;
        transition: scale $cubic;
    }
}

.footer-page__telegram-icon{
    width: 24px;
    height: 24px;
    fill:#FFF;
}