/*footer---CONTACT-----------------------*/
.footer-page{
    display: block;
    background-color: #2F303A;
    padding: 60px 0px;
    margin: auto;
    min-width: 480px;

    &> .container {
        width: 480px;
        padding: 0px 15px;
        margin:0px auto;
        align-items: center;
        justify-content: center;
        transition: color $cubic;
        @media screen and(min-width:768px) and(max-width:1200px) {
            display: flex;
            width: 768px;
            flex-wrap: wrap;
            align-items: baseline;
            text-align: center;
        }
        @media screen and(min-width:1200px) {
            width: 1200px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
    }
}

.footer-page__logo-setting{
    @media screen and (max-width:1199px) {
        display: flex;
        justify-content: center;
    }
}
.footer-page__address{
    display: block;
    @media screen and(max-width:1199px){
        justify-content: center;
        text-align: center;
    }
    &:hover,&:focus{
        color: $blue-color;
        transition: color $cubic;
    }

    & .logo-white{
        color:#FFFFFF;
    }
}

.footer-page__contact-list{
    display: block;
    margin-top:20px;
    @media screen and(min-width:1200px) {
        margin-top:28px;
    }
    & > .item+.item {
        margin-top:8px;
        @media screen and(min-width:1200px) {
            margin-top:12px;
        }
    }
    
}

.footer-page__street{
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-page__contact{
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &:hover,&:focus{
        color: $blue-color;
        transition: color $cubic;
    }
}

.footer-page__title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    @media screen and(max-width:1199px) {
        text-align: center;
    }
}

.container-join{
    @media screen and (max-width:767px) {
        margin: 60px 0px;
    } 
    @media screen and(min-width:768px) and (max-width:1200px){
        margin:0px; 
        margin-left:165px;
    }
}

.footer-page__social-list{
    display: flex;
    justify-content: center;
    &> .item+.item{
        margin-left:10px;
    }
    &> .item {
        width: 44px;
        height: 44px;
    }
}

.footer-page__social-icon{
    width:20px; 
    height:20px;
    fill:currentColor;
}

.footer-page__social-button{
    display: flex;
    width: 100%;
    height: 100%;
    border:none;
    border-radius: 50%;
    color:#FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition: background-color $cubic;

    &:hover,&:focus{
        background-color: $blue-color;
        transition: background-color $cubic;
    }
}

.footer-page__subscribe{
    @media screen and(min-width:768px) and(max-width:1199px) {
        margin-top: 60px;
    }
    &> .js-speaker-form{
        display: block;
        @media screen and(min-width:1200px){
            display: flex;
        }
    }
}

.footer-page__email{
    display: block;
}

.footer-page__email-text{
    padding:0px;
    padding-left:16px;
    margin-bottom: 20px;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    color: #FFF;
    margin-right:12px;
    transition: border-color $cubic;
    
    @media screen and(min-width:1200px){
        width: 358px;
    }
    &:hover,&:focus{
        border-color:$blue-color;
        transition: border-color $cubic;
    }
}

.footer-page__button-confirm{
    margin: 0px auto;
    padding:0px 28px;
    width: 200px;
    height: 50px;
    background:$blue-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border:0px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    justify-content: space-between;
    scale: 1;
    transition: scale $cubic;

    &:focus,&:hover{
        scale: 1.05;
        transition: scale $cubic;
    }
}

.footer-page__telegram-icon{
    width: 24px;
    height: 24px;
    fill:#FFF;
}