$blue-color: #2196F3;
$title-color: #212121;
$text-color: #757575;
$svg-color: #AFB1B8;
$cubic:250ms cubic-bezier(0.4, 0, 0.2, 1);

ul,li,a,p,h1,h2,h3,h4,h5,h6{
    padding: 0px;
    margin:0px;
    list-style-type: none;
    text-decoration: none;
}

body {
    font-family: Roboto, sans-serif;
    color:var(--primary-text-color);
}
.main-page-title{
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
    margin-bottom:30px;
    @media screen and(min-width:1200px){
        margin-bottom: 50px;
    }
}
/*------------------------------*/
.header-page{
    position: relative;
    padding: 10px 0px;
    @media screen and(min-width:768px) {
        padding: 21px 0px;
        
    }
    @media screen and(min-width:1200px) {
        padding: 24px 0px 25px 0px;
        
    }
    & > .container{
        display: flex;
        padding: 0px 15px;
        width: 480px;
        margin:auto;
        align-items: center;
        position: relative;
        @media screen and(min-width:768px){
            width: 768px;
        }
        @media screen and(min-width:1200px){
            width: 1200px;
        }
    }
    
}
.menu-container{
    display: flex;
    &.is-open{
        display: block;
    }
    @media screen and(max-width:767px) {
        width: 480px;
        background-color: #FFFFFF;
        padding: 48px 0px;
        z-index: 1;
        position: absolute;
        display: none;
        left:0px;
        top:0px;
    }
    @media screen and(min-width:768px) {
        align-items: center;
        margin-left: 88px;
        justify-content: space-between;
    }
    @media screen and(min-width:1200px){
        width: 100%;
        align-items: center;
        margin-left:93px;
    }
}
.header-page__nav{
    padding: 0px 40px;
    @media screen and(min-width:768px){
        padding: 0px;
    }
}
    
.header-page__nav-list{
    display: block;
    @media screen and(min-width:768px) {
        display: flex; 
    }
    & > .item +.item{
        margin-top:32px;
        @media screen and(min-width:768px) {
            margin:0px 0px 0px 50px;
        }
    }
}
.header-page__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $title-color;
    &:hover,&:focus{
        color:$blue-color;
    }
    @media screen and(min-width:768px) {
        position:relative
    }
    @media screen and(min-width:768px) {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;  
        &.border:hover, &.border:focus{
            color:$blue-color;
            transition: color $cubic;
            }
        
        &.border::after{
            content: "";
            display: flex;
            position:absolute;
            width: 100%;
            height: 4px;
            background-color: $blue-color;
            border-radius: 2px;
            left:0px;
            top:44px;
            opacity: 0;
            transition: opacity $cubic;
            @media screen and(min-width:1200px){
                top:45px
            }
            }
        &.border:hover::after, &.border:focus::after{
            opacity:1;
            transition: opacity $cubic;
            }
        &.blue-link{
            color:$blue-color;
        } 
        &.blue-link:hover, &.blue-link:focus{
            color:$blue-color;
            transition: color $cubic;
            }
        &.blue-link::after{
            content: "";
            display: flex;
            position:absolute;
            width: 100%;
            height: 4px;
            background-color: $blue-color;
            border-radius: 2px;
            left:0px;
            top:44px;
            @media screen and(min-width:1200px){
                top:45px
            }
            }
        
    }
}
.header-page__address{
    padding: 0px 40px;
    @media screen and(max-width:767px) {
        display: flex;
        flex-wrap:wrap-reverse;
        margin-top: 306px;
        margin-bottom:64px;
    }
    @media screen and(min-width:768px) {
        padding: 0px;
        display: inline-block;
        margin-left:96px
    }
        @media screen and (max-width: 767px) {
            & > .item:nth-child(2){
            margin-bottom:32px;
        }
    }
    & > .item:first-child{
        @media screen and(min-width:768px) and (max-width: 1200px) {
            margin:0px;
            margin-bottom: 10px;
        }
    }
    @media screen and(min-width:1200px) {
        display: flex;
        margin-left: auto;
        & > .item+.item{
            margin-left: 40px;
        }
    }
}
.header-page__email{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $text-color;
}
.header-page__tel{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $blue-color;
}
.header-page__email,.header-page__tel{
    @media screen and(min-width:768px) {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: $text-color;
    }
    @media screen and (min-width:1200px) {
        font-size: 14px;
        line-height: 1.14;
    }
}
.header-page__social-list{
    padding: 0px 40px;
    display: flex;
    & > .item + .item{
        margin-left:20px;
        position: relative;

        &::before{
            content: "";
            position: absolute;
            left: -20px;
            top:10px;
            width: 22px;
            height: 0;
            border: 1px solid rgba(33, 33, 33, 0.2);
            transform: rotate(90deg);
        }
    }

    @media screen and(min-width:768px) {
        display: none;
    }
}
.header-page__social-link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $blue-color;
}
.header-page__logo-setting{
    display: flex;
}
.header-page__icon-tel{
    width: 10px;
    height: 14px;
    fill: currentColor;
    margin-right: 10px;
    @media screen and(min-width:1200px) {
        width: 10px;
        height: 16px;
    }
}
.header-page__icon-email{
    width: 14px;
    height: 10px;
    fill: currentColor;
    margin-right: 10px;
    @media screen and(min-width:1200px) {
        width: 16px;
        height: 12px;
    }
}
.header-page__icon-tel,.header-page__icon-email{
    @media screen and (max-width:767px){
        display: none;
    }
    @media screen and(min-width:768px) {
        margin-right:8px;
    }
    @media screen and(min-width:1200px) {
        margin-right:10px;
    }
}
.logo {
    font-family: Raleway, Georgia;
    font-size: 24px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $blue-color;
    @media screen and(min-width:1200px){
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
    }
    &.black-logo{
        color:$title-color;
    }
}
.menu-button{
    display:inline-flex;
    padding: 0px;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: 0px solid transparent;
    z-index: 1;
    margin-left:auto;
    @media screen and(min-width:768px){
        display: none;
    }

    & .icon__burger-open{
        display: none;
    }

    &.is-open .icon__burger-open{
        display: block;
    }

    &.is-open .icon__burger-close{
        display: none;
    }
}
.burger__icon-list{
    &:hover{
        fill:$blue-color;
    }
}

/*HERO----------------------------*/
.hero-page{
    margin: auto;
    text-align: center;
    padding: 118px 0px;
    @media screen and(max-width:767px){
        width: 480px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), url(../../images/mobile/bg480-1x.jpg) ;
        background-size: 480px 400px;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), url('../../images/mobile/bg480-2x.jpg');
        }
    }

    @media screen and(min-width:768px) and(max-width:1199px) {
        max-width:768px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), url(../../images/tabletka/bg768-1x.jpg) ;
        background-size: 768px 400px;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), url('../../images/tabletka/bg768-2x.jpg');
        }
    }
    @media screen and(min-width:1200px) {
        height: 600px;
        padding: 200px 0px;
        max-width: 1600px;
        background-position: center;
        background-size: 1600px 600px;
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), url(../../images/desktop/bg1600-1x.jpg) ;
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
        ), url('../../images/desktop/bg1600-2x.jpg');
        }
    }
    &>.container{
        padding: 0px 15px;
        display: inline-block;
        margin:0px auto;
    }

}

.hero-page__title {
    margin-bottom:30px;
    font-weight: 900;
    font-size: 26px;
    line-height:1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    @media screen and(min-width:1200px){
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero-page__button{
    padding: 10px 24px;
    font-size: 16px;
    line-height: 1.88;
    display: inline-block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;    
    color: #FFFFFF;
    background: $blue-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    transform: scale(1);
    transition: transform $cubic;
    &:hover,&:focus{
        transform: scale(1.1);
        transition: transform $cubic;
    }
}

/*Переваги--------------------------*/
.info-page{
    background-color: #FFFFFF;
    padding: 60px 0px;

    &>.container {
        width: 480px;
        padding: 0px 15px;
        margin: 0px auto;
        @media screen and(min-width:768px) {
            width:768px;
        }
        @media screen and(min-width:1200px) {
            width:1200px;
        }
    }
}

.info-page__list{
    display:flex;
    flex-wrap: wrap;
    &> .item{
        @media screen and(max-width:767px) {
            width:480px;
        }
        @media screen and(min-width:768px){
            width:354px; 
        }
        @media screen and(min-width:1200px){
            width:270px; 
        }
    }
    & > .item+.item{
        @media screen and (max-width:767px) {
            margin-top: 30px;
        }
    }
    @media screen and(min-width:768px) and (max-width:1199px) {
        margin:0px;
        &> .item:nth-child(n + 3){
        margin-top:30px;
        }
        &> .item:nth-child(2n + 2){
        margin-left:30px;
        }
    }
    @media screen and(min-width:1200px) {
        
        justify-content: space-between;
    }
}

.info-page__icon-container{
    display: flex;
    width: 450px;
    height: 120px;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 4px;
    @media screen and(min-width:768px) {
        width: 354px;
    }
    @media screen and(min-width:1200px) {
        width: 270px;
    }
}

.info-page__icon{
    height: 70px;
    width: 70px;
}

.info-page__title {
    color:$title-color;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and(max-width:767px){
        text-align: center;
        
    }
}

.info-page__text {
    margin-top:10px;
    color:$text-color;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*--OCCUPATION---------------------*/
.occupation-page{
    background-color: #FFFFFF;
    padding-bottom: 94px;
    @media screen and (max-width:1199px){
        display: none;
    }
    &> .container{
        width: 1200px;
        padding: 0px 15px;
        margin: 0px auto;
    }
}

.main-page-title{
    color:$title-color;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.occupation-page__list{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    &> .item {
        height: 294px;
        position: relative;
    }
}

.occupation-page__bottom{
    position:absolute;
    width: 100%;
    padding: 27px 0px;
    background-color: rgba(47, 48, 58, 0.8);
    bottom:0px;
    left:0px;
}
.occupation-page__text{
    padding: 0px 15px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
/*TEAM-LIST--------------------------------*/

.team-page{
    background-color: #F5F4FA;
    padding: 60px 0px;
    @media screen and(min-width:1200px) {
        padding: 94px 0px;
    }

    &> .container {
        width: 480px;
        padding: 0px 15px;
        margin:0px auto;
        @media screen and(min-width:768px) {
            width:768px;
        }
        @media screen and(min-width:1200px) {
            width:1200px;
        }
    }
}

.team-page__list{
    display: flex;
    flex-wrap: wrap;

    & > .item {
        background-color: #FFFFFF;
        width: 450px;
        height: 622px;
        box-shadow: 
        0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px rgba(0, 0, 0, 0.14), 
        0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        @media screen and(min-width:768px){
            width: 354px;
            height: 536px;
        }
        @media screen and(min-width:1200px){
            width: 270px;
            height: 428px;
        }
    }
    & > .item+.item{
        @media screen and(max-width:768px){
            margin-top:30px;
        }
    }
    @media screen and(min-width:768px) and(max-width:1199px) {
        &> .item:nth-child(n + 3){
        margin-top:30px;
        }
        &> .item:nth-child(2n + 2){
        margin-left:30px;
        }
    }
    @media screen and(min-width:1200px) {
        justify-content: space-between;
    }
}

.team-page__worker-board {
    justify-content: center;
    text-align: center;
    display: block;
    padding-top: 30px;
    padding-bottom:24px;
}

.team-page__name-worker{
    margin-bottom:10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
}

.team-page__proffesion{
    margin-bottom:16px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-color;
}

.team-page__social-list{
    display: flex;
    padding: 0px;
    justify-content: center;
    &> .item {
        width: 44px;
        height: 44px;
    }

    &> .item+.item{
        margin-left:10px;
    }
}

.team-page__social-icon{
    width:20px; 
    height:20px;
    fill:currentColor;
}

.team-page__social-link{
    display: flex;
    width: 100%;
    height: 100%;
    border:none;
    border-radius: 50%;
    color:$svg-color;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    transition: color $cubic,
    background-color $cubic;

    &:hover,&:focus{
        color:#FFFFFF;
        background-color: $blue-color;
        transition: color $cubic,
        background-color $cubic;
    }
}

/*clients----------------------------*/
.client-page{
    padding: 60px 0px;
    @media screen and(min-width:1200px) {
        padding: 94px 0px;
    }
    &> .container{
        width: 480px;
        padding: 0px 15px;
        margin:0px auto;
        @media screen and(min-width:768px) {
            width: 768px;
        }
        @media screen and(min-width:1200px) {
            width: 1200px;
        }
    }
}

.client-page__list{
    display:flex;
    flex-wrap: wrap;
    margin:-15px;
    & > .item{
        width: 210px;
        height: 92px;
        margin:15px;
        @media screen and(min-width:768px) {
            width:226px;
        }
        @media screen and(min-width:1200px) {
            width:170px;
        }
    }
}

.client-page__icon{
    fill:currentColor;
    width: 106px;
    height: 60px;
}

.client-page__link{
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid $svg-color;
    border-radius: 4px;
    color:$svg-color;
    background:#FFFFFF;
    justify-content: center;
    align-items: center;
    transition: color $cubic;

    &:hover,&:focus{
        color:$blue-color;
        border-color:$blue-color;
        transition: color $cubic;
    }
}

/*footer--------------------------------*/
.footer-page{
    display: block;
    background-color: #2F303A;
    padding: 60px 0px;

    &> .container {
        width: 480px;
        padding: 0px 15px;
        margin:0px auto;
        align-items: center;
        justify-content: center;
        transition: color $cubic;
        @media screen and(min-width:768px) and(max-width:1200px) {
            display: flex;
            width: 768px;
            flex-wrap: wrap;
            align-items: baseline;
            text-align: center;
        }
        @media screen and(min-width:1200px) {
            width: 1200px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;
        }
    }
}

.footer-page__logo-setting{
    @media screen and (max-width:1199px) {
        display: flex;
        justify-content: center;
    }
}
.footer-page__address{
    display: block;
    @media screen and(max-width:1199px){
        justify-content: center;
        text-align: center;
    }
    &:hover,&:focus{
        color: $blue-color;
        transition: color $cubic;
    }

    & .logo-white{
        color:#FFFFFF;
    }
}

.footer-page__contact-list{
    display: block;
    margin-top:20px;
    @media screen and(min-width:1200px) {
        margin-top:28px;
    }
    & > .item+.item {
        margin-top:8px;
        @media screen and(min-width:1200px) {
            margin-top:12px;
        }
    }
    
}

.footer-page__street{
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-page__contact{
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &:hover,&:focus{
        color: $blue-color;
        transition: color $cubic;
    }
}

.footer-page__title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
    @media screen and(max-width:1199px) {
        text-align: center;
    }
}

.container-join{
    @media screen and (max-width:767px) {
        margin: 60px 0px;
    } 
    @media screen and(min-width:768px) and (max-width:1200px){
        margin:0px; 
        margin-left:165px;
    }
}

.footer-page__social-list{
    display: flex;
    justify-content: center;
    &> .item+.item{
        margin-left:10px;
    }
    &> .item {
        width: 44px;
        height: 44px;
    }
}

.footer-page__social-icon{
    width:20px; 
    height:20px;
    fill:currentColor;
}

.footer-page__social-button{
    display: flex;
    width: 100%;
    height: 100%;
    border:none;
    border-radius: 50%;
    color:#FFFFFF;
    background: rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    transition: background-color $cubic;

    &:hover,&:focus{
        background-color: $blue-color;
        transition: background-color $cubic;
    }
}

.footer-page__subscribe{
    @media screen and(min-width:768px) and(max-width:1199px) {
        margin-top: 60px;
    }
    &> .js-speaker-form{
        display: block;
        @media screen and(min-width:1200px){
            display: flex;
        }
    }
}

.footer-page__email{
    display: block;
}

.footer-page__email-text{
    padding:0px;
    padding-left:16px;
    margin-bottom: 20px;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    color: #FFF;
    margin-right:12px;
    transition: border-color $cubic;
    
    @media screen and(min-width:1200px){
        width: 358px;
    }
    &:hover,&:focus{
        border-color:$blue-color;
        transition: border-color $cubic;
    }
}

.footer-page__button-confirm{
    margin: 0px auto;
    padding:0px 28px;
    width: 200px;
    height: 50px;
    background:$blue-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border:0px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    justify-content: space-between;
    scale: 1;
    transition: scale $cubic;

    &:focus,&:hover{
        scale: 1.05;
        transition: scale $cubic;
    }
}

.footer-page__telegram-icon{
    width: 24px;
    height: 24px;
    fill:#FFF;
}
/*---MODAL----------------------------*/

.overlay-page{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    &.is-hidden{
        opacity:0;
        pointer-events: none;
    }

}

.overlay-page__modal{
    position: absolute;
    padding: 40px 0px;
    width: 450px;
    height: 609px;
    top:50%;
    left:50%;
    translate: -50% -50%;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    @media screen and(min-width:1200px) {
        width: 528px;
        height: 581px;
    }
    &> .container{
        width: 370px;
        margin:auto;
        @media screen and(min-width:1200px) {
            width: 448px;
        }
    }

    .overlay-page.is-hidden > &{
        scale:0.6;
        transition: scale $cubic;
    }

    .overlay-page:not(.is-hidden) > &{
        scale:1;
        transition: scale $cubic;
    }
}

.overlay-page__button-x{
    position: absolute;
    padding: 0px;
    top:8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #FFFFFF;
    color: #000000;

    &:focus,&:hover{
        color:$blue-color;
    }
}

.overlay-page__icon-x{
    position: absolute;
    width: 11px;
    height: 11px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    fill:currentColor;
    transition: color $cubic;

    &:hover,&:focus{
        fill:currentColor;
        transition: color $cubic;
    }
}

.overlay-page__modal-title{
    width: 100%;;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
    margin-bottom:30px;
}

.modal-page__info-container{
    display: block;
    position: relative;
    color:$title-color;
    margin-bottom:28px;
    height: 40px;

    &:focus,&:hover{
        color:$blue-color;
    }
}

.modal-page__info{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 0px;
    padding-left: 42px;
    transition: border-color $cubic;

    &:focus,&:hover{
        border-color:$blue-color;
        transition: border-color $cubic;
    }
}

.modal-page__icon-contact{
    position: absolute;
    height: 18px;
    width: 18px;
    left:12px;
    top:11px;
    fill:$title-color;
    transition: fill $cubic;

    .modal-page__info:hover + &,
    .modal-page__info:focus + &{
        fill:$blue-color;
        transition: fill $cubic;
    }
}

.modal-page__text{
    position: absolute;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: $text-color;
    left:0px;
    top:-18px;
}

.modal-page__textarea-container{
    display: block;
    position:relative;
    margin-bottom: 20px;
    height: 120px;
}

.modal-page__textarea{
    padding: 12px 16px;
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color $cubic;

    &:hover,
    &:focus{
        border-color:$blue-color;
        transition: border-color $cubic;
   }

   &::placeholder{
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
}

.modal-page__button-submit{
    width: 200px;
    height: 50px;
    padding: 0px;
    margin:0px auto;
    text-align: center;
    background: $blue-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border:1px solid transparent;
    border-radius: 4px; 
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    justify-content: center;
    scale: 1;
    transition: scale $cubic;

    &:hover,&:focus{
        scale:1.05;
        transition: scale $cubic;
    }
}

.modal-page__confirm-container{
    display: flex;
    align-items: center;
    width: 370px;
    height: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.modal-page__confirm-box{
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.modal-page__confirm-text{
    margin-left: 8px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:$text-color;
}

.modal-page__confirm-link{
    text-decoration:underline;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color:$blue-color;
    margin-left: 5px;
}

.modal-page__confirm-icon{
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $title-color;
    background-color: #FFFFFF;
    border-radius: 2px;
    transition: border-color $cubic,
    background-color $cubic;

    .modal-page__confirm-box:checked + &{
        border-color: $blue-color;
        background-color: $blue-color;
        background-image: url(../images/confirm-blue.svg);
        background-size:contain;
        background-origin: border-box;
        transition: border-color $cubic,
        background-color $cubic;
    }
}

/*Panorama--------------------------------------*/
.header-border{
    border-bottom: 1px solid #ECECEC;
}

.panorama-page{
    padding: 60px 0px;
    @media screen and (min-width:1200px){
        padding: 94px 0px;
    }
    &>.container {
        display: block;
        width: 480px;
        padding: 0px 15px;
        margin:0px auto;
        @media screen and(min-width:768px) {
            width: 768px;
        }
        @media screen and(min-width:1200px) {
            width: 1200px;
        }
    }
}

.panorama-page__menu-list { 
    display: flex;
    margin-bottom: 40px;
    @media screen and (min-width:1200px){
        margin-bottom: 50px;
    }
    &> .item+.item {
        margin-left:8px;
    }
    @media screen and (max-width:767px) {
        &> .item:nth-child(4){
            margin-left: 0px;
        }
    }
    @media screen and(max-width:767px) {
        flex-wrap: wrap;
        & > .item:nth-child(3){
            margin-right:100px;
        }
        &>.item:first-child{
            margin-bottom:15px;
        }
    }
    @media screen and(min-width:768px) {
        justify-content: center;
    }
}

.panorama-page__button-menu{
    font-family: Roboto, Ariel;
    color:$title-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: #F5F4FA;
    border: 1px solid transparent;
    padding: 6px 22px;
    border-radius: 4px;
    transition: color $cubic,
    background-color $cubic,
    box-shadow $cubic;

    &:hover,&:focus{
        color:#FFFFFF;
        background-color: $blue-color;
        box-shadow: 
        0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
        transition: color $cubic,
        background-color $cubic,
        box-shadow $cubic;
    }
}

/*PANORAMA-LIST---------------------------*/

.panorama-page__panorama-list { 
    display: flex;
    flex-wrap:wrap;
    @media screen and(min-width:1200px){
        margin:-15px;
    }
    &> .item {
        width: 450px;
        height: 404px;
        border: 1px solid #EEEEEE;
        transition: box-shadow $cubic;
        @media screen and(min-width:768px) and(max-width:1199px){
            width: 354px;
            height: 440px;
        }
        @media screen and(min-width:1200px){
            width: 370px;
            margin:15px;
        }
    }
    @media screen and(max-width:1199px){
        & > .item{
            margin-bottom:30px;
        }
        &> .item:last-child{
            margin-bottom: 0px;
        }
    }
    @media screen and(min-width:768px) and(max-width:1199px){
        &>.item:nth-child(2n){
            margin-left:30px;
        }
    }
}

.panorama-page__panorama-list > .item:hover,
.panorama-page__panorama-list > .item:focus{
    box-shadow: 
    0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: box-shadow $cubic;
}

.panorama-page__under-card {
    padding: 20px 0px;
    @media screen and(min-width:768px) and(max-width:1199px) {
        padding: 20px 0px 56px 0px;
    }
}

.panorama-page__title-card{
    color:$text-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:$title-color;
    padding: 0px 24px;
}

.panorama-page__text-card{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color:$text-color;
    padding: 0px 24px;
}

.panorama-page__move-up{
    display: flex;
    position: relative;
    width: 100%;
    height: 294px;
    overflow: hidden;
}

.panorama-page__move{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform $cubic;
    padding: 77px 0px;
    @media screen and(min-width:768px) {
        padding: 49px 0px 77px 0px;
    }
    @media screen and(min-width:1200px) {
        padding: 63px 0px;
    }
    
    .panorama-page__move-up:hover &{
        transform: translateY(0%);
        transition: transform $cubic;
    }
}

.panorama-page__move-text{
    font-style: normal;
    font-size: 18px;
    line-height: 1.58;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 0px 24px;
}
